{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/wall8.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>My name is Emilia and I’m a mixture of the scientific and designing mind. I have a passion for both innovations and engineering. In my profession I would like to bound this together and create some awesome things, that will inspire others.</p>
        <p>I love reading great books, putting together LEGO sets, exploring new things and eating blueberries. And cinnamon rolls, I don’t really know what is more delicious. I’m a positive person with a sense of humour and distance to myself. I’m always open to new experiences!   </p>
        <p>I created this blog to practise my programming skills and in the future to have a place where I can upload my recent thoughts and projects. It’s always a good idea to work at your writing skills and stretch your creativity. Take a look what I have already created and enjoy yourself!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}